<% include ../partials/header %>

<div class="container form-container">

  <div class="row">
    <div id="popup-dialog" class="form-container">
      <span id="popup-cancel">cancel</span>
      <span id="popup-done">done</span>
        <i id="popup-no-pic" class="fa fa-picture-o" aria-hidden="true"></i>
      <img id="popup-pic">
      <div class="form-group">
        <input id="popup-url" class="form-control" type="text" onClick="javascript:this.select()" placeholder="image url" value="">
      </div><!-- form-group -->
    </div><!-- image-picker -->
  </div><!-- row -->

  <div class="row">

      <div id="form-title">
        edit campground
      </div>

  </div><!-- row -->

  <form name="edit_campground" action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">

    <div class="row">
      <div class="col-xs-7 no-pad-left no-pad-right">

        <div class="form-group">
          <input type="text" class="form-control" name="campground[name]" placeholder="name" value="<%= campground.name %>">
        </div><!-- form-group -->

        <div class="form-group">
          <div class="input-group">
            <input type="number" class="form-control" name="campground[price]" placeholder="price" min="0.01" step="0.01" onInput="javascript:this.value=parseFloat(this.value).toFixed(2)" value="<%= campground.price %>">
            <div class="input-group-btn">
              <button type="button" id="rental-period" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<% if (campground.rental_period == 'night') { %>
                nightly
<% } else { %>
                weekly
<% } %>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="javascript:perNight()">nightly</a></li>
                <li><a href="javascript:perWeek()">weekly</a></li>
              </ul>
            </div><!-- btn-group -->
          </div><!-- input-group -->
        </div><!-- form-group -->
      </div><!-- col -->

      <div class="col-xs-5 no-pad-right">
        <div class="form-group">
            <i id="thumb-no-pic" class="fa fa-picture-o form-control form-thumbnail" aria-hidden="true"></i>
            <img id="thumb-pic" class="form-control form-thumbnail" src="<%= campground.image %>" alt="<%= campground.image %>">
        </div><!-- form-group -->
      </div><!-- col -->
    </div><!-- row -->

    <div class="row">
      <div class="col-xs-12 no-pad-left no-pad-right">
      <textarea class="form-control" placeholder="description" name="campground[description]"><%= campground.description %></textarea>
      </div><!-- col -->
    </div><!-- row -->

    <div class="row">
      <div class="form-group text-center">
        <div class="col-xs-6">
          <a id="form-cancel" href="/campgrounds/<%= campground._id %>">cancel</span>
        </div><!-- col  -->
        <div class="col-xs-6">
          <a id="form-done" href="javascript:document.edit_campground.submit()">done</span>
        </div><!-- col  -->
      </div><!-- form-group -->
    </div><!-- row -->

    <input id="submit-rental-period" type="hidden" name="campground[rental_period]" value="<%= campground.rental_period %>"></input>
    <input id="submit-image" type="hidden" name="campground[image]" value="<%= campground.image %>"></input>

  </form>

</div><!-- container -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/campground_form.js"></script>

<% include ../partials/footer %>
